.editor-code {
    background-color: #6161612a;
    border-radius: 0.25em;
    box-decoration-break: clone;
    color: #616161;
    font-size: 0.9rem;
    padding: 0.25em;
}

.ProseMirror:focus-visible {
    outline: none;
}