* {
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: unset;
}

input {
    outline-style: none;
    background-color: unset;
    border-color: unset;
    color: unset;
    border-image: unset;
    border-width: unset;
    border-style: unset;
}